{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
    <!-- s -->
    <link rel="stylesheet" href="{% static 'layers/styles.css' %}">
    <link rel="stylesheet" href="{% static 'layers/libs/v6.1.1-dist/ol.css' %}">
    {% block style %}

    {% endblock %}

</head>

<body>
    {% block body %}

    {% endblock %}

    {% block script %}

    {% endblock %}
    <script src="{% static 'layers/libs/v6.1.1-dist/ol.js' %}"></script>
</body>

</html>