/* a* {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font-weight: normal;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

*:before, *:after {
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

html, body {
	min-height: 100%;
}

#map {
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	bottom: 0;
}

#bar, #wkt {
	background-color: rgba(255, 255, 255, 0.8);
	position: absolute;
	padding: 12px;
	margin: 10px 0 0 55px;
	border-radius: 4px;
	font-size: 13px;
}

#bar > p {
	padding: 6px 12px;
	display: inline-block;
	color: #fff;
	border-radius: 4px;
	background-color: #5cb85c;
	border: 1px solid #4cae4c;
	cursor: pointer;
}

#bar > p:hover {
	background-color: #449d44;
	border-color: #398439;
}

#wkt {
	margin-top: 75px;
	max-width: 90%;
} */


#map{
    height: 100vh;
    width: 100vw;
}